body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  height: 90000px;
}

h1,h2,h3{
  color: hsl(229, 31%, 21%);
  font-weight: 500;
}

p{
  color: hsl(229, 8%, 60%);
  font-size: 18px;
}

img{
  max-width: 100%;
  height: auto;
}

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: hsl(229, 31%, 21%);
}

ul, li{
  list-style: none;
}

/* header */

header{
  display: flex;
  padding: 40px 40px;
  justify-content: space-between;
  height: max-content;
}

.menu ul{
  display: flex;
  gap: 50px;
}

.menu .menu-item{
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu .login a{
  color: #fff;
  border: 2px solid hsl(0, 94%, 66%);
  background-color: hsl(0, 94%, 66%);
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px hsl(229, 31%, 81%);
  font-weight: 500;
}

.menu .login a:hover{
  background-color: #fff;

}

.menu a{
  transition: .3s;
  padding: 10px 30px;
}

.menu a:hover{
  color:  hsl(0, 94%, 66%);
}

/* Hero section */

.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 90px 40px;
  width: 80%;
  margin: 0 auto;
}

.left-box h1{
  margin-bottom: 20px;
}

.main-title{
  font-size: 56px;
}

.left-box > .paragraph{
  width: 500px;
  margin-bottom: 60px;

}

.left-box a{
  box-shadow: 0 8px 8px -6px hsl(229, 31%, 91%);
  padding: 13px 30px;
  margin-right: 10px;
  transition: .3s;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border-radius: 5px;
  border: 1px solid hsl(231, 69%, 60%);
}

.left-box a:nth-of-type(2){
  background-color: hsl(229, 8%, 95%);
  color: hsl(229, 31%, 21%);
  border-color: hsl(229, 8%, 95%);
}

.left-box a:nth-of-type(1):hover{
  border: 1px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  background-color: transparent;
}

.left-box a:nth-of-type(2):hover{
  border: 1px solid hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
  background-color: transparent;
}

.right-box{
  position: relative;
}

.right-box::after{
  content: '';
  height: 400px;
  width: 4000px;
  position: absolute;
  background-color: hsl(231, 69%, 60%);
  border-radius: 400px 0px 0px 400px;
  z-index: -1;
  bottom: 0;
  margin-left: 200px;
}

/* features */

.features-container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
}

.features-container > div > .subtitle{
  margin-bottom: 40px;
}

.subtitle{
  font-size: 36px;
}

.features-container .paragraph{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.features-list{
  display: flex;
  justify-content: center;
} 

.features-list li{
  padding: 20px;
  border-bottom: 1px solid hsl(229, 31%, 90%);
  cursor: pointer;
  transition: .3s;
  color: hsl(229, 8%, 60%);
}

.features-list li.active{
  border-bottom: 4px solid hsl(0, 94%, 66%);
  color: hsl(229, 31%, 21%);
}

.features-list li:hover{
  color: hsl(0, 94%, 66%);
}

/* feature item */

.feature{
  padding-top: 90px;
  display: flex;
  gap: 40px;
  text-align: start;
  justify-content: center;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.feature.active{
  visibility: visible;
  opacity: 1;
}

.feature::after{
  content: '';
  width: 4000px;
  height: 400px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  z-index: -1;
  right: 55%;
  bottom: -120px;
  border-radius: 0px 400px 400px 0px;
}

.feature-description{
  align-self: center;
}

.feature-description > .subtitle{
  margin-bottom: 20px;
}

.feature-description .paragraph{
  margin-bottom: 40px;
  width: 450px;
}

.feature-description a{
  padding: 17px 30px;
  background-color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0px 8px 8px -4px hsl(229, 31%, 90%);
  transition: .3s;
}

.feature-description a:hover{
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  box-shadow: 0px 0px 8px -8px hsl(229, 31%, 90%);
}